Who_and_When/
__pycache__/
src/

Automated_FA/results/
Automated_FA/outputs/
Automated_FA/test_experiments/runs/
Automated_FA/test_experiments/sampled_data/
Automated_FA/test_experiments/results/
Automated_FA/test_experiments/logs/

*.txt